  <%= render 'shared/banner' %>
<div class="container top-heading">
  <h2 class="top-heading-text">Browse our selection of drinks, or add to the collection by making your own</h2>
  <div class="cocktail-btn">
    <%= link_to "New cocktail", new_cocktail_path, class: "nav-link" %>
  </div>
</div>
  <div class="container row align-items-start">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-6 col-lg-4">

      <div class="cards">
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card-photo">
          <% if cocktail.photo.present? %>
            <%= cl_image_tag cocktail.photo.key, crop: :fill %>
          <% end %>

          <div class="card-body">
            <p> <%= cocktail.name %> </p>
          </div>
        </div>
      </div>
      <%end %>

    </div>
  <%end %>
</div>

