<h2> <%= @cocktail.name %> </h2>


<div class="card-product" style="display: flex">
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% @cocktail.doses.each do |dose| %>
    <div class="card-product-infos">
      <p><%= "#{dose.ingredient.name} #{dose.description}" %></p>
    </div>
</div>
      <%= link_to 'Delete', dose_path(dose), method: :delete %>
  <% end %>
<hr>

<li><%= link_to 'Add dose',  new_cocktail_dose_path(@cocktail), class: "btn btn-ghost"%></li>
